footer {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 70px;
}

.top {
    display: flex;
    align-items: start;
    /* justify-content: space-evenly; */
}

.info {
    display: flex;
    flex-direction: column;
    width: 391px;
    height: 237px;
}

.destination {
    width: 301px;
    height: 249px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}