@font-face {
    font-family: 'inter';
    src: url('../Fonts/Inter-VariableFont_slnt\,wght.ttf');
   
    font-weight: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inter !important;
    
}



body {
    display: flex;
    justify-content: center;
    
}

button {
    cursor: pointer;

}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1600px;
    width: 100%;
    gap: 250px;
    
}

.Section {
    width: 100%;
    /* height: 700px; */
    display: flex;
    gap: 147px;
}

/* left cart start */

.left-cart {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    gap: 60px;
}

.left-cart h1 {
    width: 350px;
    font-family: Playfair Display;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    text-align: left;
}

.left-cart span {
    font-family: Inter;
    font-size: 22px;
    font-weight: 600;
    line-height: 26.63px;
    text-align: left;
}


.selects {
    width: 450px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

}

.selects select {
    width: 200px;
    height: 52px;
    border-radius: 10px;
    border: 0.8px solid rgba(175, 176, 185, 1);
    background: none;
    display: flex;
    justify-content: space-around;
    outline: none;

    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

.btn {
    width: 180px;
    height: 52px;
    border-radius: 8px;
    background: rgba(251, 143, 29, 1);
    border: none;

    font-family: Mulish;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
}

.btn:hover {
    background: transparent;
    outline: #FB8F1D 1px solid;
    color: #FB8F1D;
    transition: 0.5s;
}

/* left-cart end */


/* right-cart start */

.right-cart {
    width: 687px;
    height: 654px;
  
}

.right-cart img {
    width: 100%;
    height: 100%;
}

/* right-cart end */


/* Navbar start */

.Navbar {
    width: 80%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart {
    display: flex;
    align-items: center;
    gap: 30px;
}

.cart span {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
}

.cart button {
    width: 132px;
    height: 44px;
    border-radius: 8px;
    background: rgba(251, 143, 29, 1);
    border: none;
    color: #fff;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
}

.cart select {
    width: 50px;
    height: 30px;
    outline: none;
    border-radius: 10px;
    border: 0.8px solid rgba(175, 176, 185, 1);
    background: none;
    
}

/* Navbar end */


/* Trending stories start */

.Trending {
    margin-top: 5%;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.Trending h1 {
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    text-align: left !important;
}

.img-carts {
    display: flex;
    align-items: center;
    gap: 40px;
}

.img-cart {
    width: 280px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.img-cart img {
    width: 100%;
    height: 50%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.img-cart h5 {
    font-family: Inter;
    font-size: 19px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}

.img-cart p {

    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.img-cart button {
    width: 100%;
    height: 28px;
    border: none;
    background: none;

    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: rgba(251, 143, 29, 1);
}

/* Trending stories end */



/* explore start */

.explore {
    display: flex;
    gap: 202px;
    padding: 141px;
}

.explore img {
    Width: 659px;
    Height: 534px;
}

.way {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
}

.way button {
    color: #ffff;
    background-color: #FB8F1D;
    width: 164px;
    height: 60px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
}

.way h1 {
    font: Playfair Display;
    font-weight: 700;
    font-size: 36px;

}

.way p {
    font: Mulish;
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 0%;

}

.ultimate {
    display: flex;
    gap: 202px;
    padding: 141px;
}

.explore img {
    Width: 659px;
    Height: 534px;
}

.trip {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
}

.trip button {
    color: #ffff;
    background-color: #FB8F1D;
    width: 164px;
    height: 60px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
}

.trip h1 {
    font: Playfair Display;
    font-weight: 700;
    font-size: 36px;

}

.trip p {
    font: Mulish;
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 0%;

}

/* explore end */


/* Testim start */

.Testimonials {
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: center;
    gap: 300px;
}

.icon-cart {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.full-cart {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
    gap: 100px;
    justify-content: start;
}

.Testimonials h1 {
    width: 481px;
    height: 50px;
    color: rgb(0, 0, 0);

    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
}

.imgs {
    /* stars */
    width: 189.02px;
    height: 24px;
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.Testimonials p {
    width: 450px;
    height: 144px;
    font-size: 20px;
}



.Testimonials h5 {
    width: 124px;
    height: 48px;
}

.first-img {
    /* image 6 */
    width: 73px;
    height: 58px;
}

/* Testim end */

/* Corusel start */

.corusel {
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.corusel>img {
    width: 261px;
    height: 332px;
}

.add {
    display: flex;
    justify-content: space-between;
}

.add>h1 {
    font-size: 36px;
    font-weight: 700;
}

.add button {
    border: none;
    background-color: none;
    background: none;
    color: rgb(251, 143, 29);
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 45px;
    gap: 50px;
}

/* Corusel end */